<style type="text/css">
#header {
	width: 100%;
	background-color: #FFD6EB;
	height: 50px;
	
}
.menu{
	list-style-type:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.menu a {
	float: left;
	width: 307px;
	height: 25px;
	text-decoration: none;
	color: black;
	background-color: #FFD6EB;
	padding: 15px;
	text-align: center;	
}
.menu a:hover {
	background-color: #FFBCDE;
}

img {
	width: 100%;
	height: 400px;
}

html,body {
	 height: 100%;
}
#content {
	outline-style: thick ridge;
	min-height: 100%;
	height: auto |important;
	margin: 0 auto -100px;
	
}
h2 {
	text-align: center;
	margin: 30px 300px 20px 300px;
	font-size: 30px;
}
p {
	text-align: center;
	margin: 20px 300px 20px 300px;
	font-style: italic;
}
h3 {
	text-align: center;
}
.js {
	margin: 20px 900px -20px 640px;
	
}
#footer, #push {
	height: 100px;
}
#footer {
	font-weight: bold;
	background: #FFD6EB ;
	padding: 7px;
	text-align: center;
	color: black;
	margin-top:60px;
}
</style>