<style type="text/css">
#header {
	width: 100%;
	background-color: #FFD6EB;
	height: 50px;
	
}
.menu{
	list-style-type:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.menu a {
	float: left;
	width: 307px;
	height: 25px;
	text-decoration: none;
	color: black;
	background-color: #FFD6EB;
	padding: 15px;
	text-align: center;	
}
.menu a:hover {
	background-color: #FFBCDE;
}

img {
	width: 100%;
	height: 400px;
}

html,body {
	 height: 100%;
}
#content {
	outline-style: thick ridge;
	min-height: 100%;
	height: auto |important;
	margin: 0 auto -100px;
	
}
h3 {
	text-align: left;
	margin: 25px 1050px 10px 50px;
	background-color: #FF2BC9;
	font-weight: bold;
}
h1 {
	text-align: left;
	letter-spacing: 2px;
	font-size: 40px;
	margin: 10px 100px 10px 50px;
}
h2 {
	text-align: left;
	margin: 10px 700px 10px 50px;
	font-style: italic;
	color: gray;
}
p{
	text-align: left;
	margin: 10px 700px 10px 50px;
	
}

#footer, #push {
	height: 100px;
}
#footer {
	font-weight: bold;
	background: #FFD6EB ;
	padding: 7px;
	text-align: center;
	color: black;
	margin-top:60px;
}

</style>