<style type="text/css">
#header {
	width: 100%;
	background-color: #FFD6EB;
	height: 50px;
	
}
.menu{
	list-style-type:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.menu a {
	float: left;
	width: 307px;
	height: 25px;
	text-decoration: none;
	color: black;
	background-color: #FFD6EB;
	padding: 15px;
	text-align: center;	
}
.menu a:hover {
	background-color: #FFBCDE;
}

img {
	width: 100%;
	height: 400px;
}

html,body {
	 height: 100%;
}
#content {
	outline-style: thick ridge;
	min-height: 100%;
	height: auto |important;
	margin: 0 auto -100px;
	
}
h3 {
	text-align: center;
	margin: 25px 550px 25px 550px;
	background-color: #FF2BC9;
	font-weight: bold;
}
h1 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 40px;
	margin-bottom:20px;
}
h2 {
	text-align: center;
	margin-bottom:20px;
	font-style: italic;
	color: gray;
	margin-bottom:5px;
}
div.img1 {
	margin-top: -5px;
  margin: 100px;
  float: left;
  width: 200px;
}

div.img1:hover {
  border: 1px solid #777;
}

div.img1 img {
  width: 100%;
  height: 200px;
}

.img1.desc {
  padding: 30px;
  text-align: center;
  margin-bottom: 60px;
}
#footer, #push {
	height: 100px;
}
#footer {
	font-weight: bold;
	background: #FFD6EB ;
	padding: 7px;
	text-align: center;
	color: black;
	margin-top:60px;
}

</style>